# Abaikan semua isi dari folder public dan private
/public/**

# Kecualikan semua subfolder agar strukturnya tetap terikut
!/public/
!public/**/
!public/default.png

# Tambahkan file kosong .gitkeep di setiap subfolder jika perlu
!public/**/.gitkeep

# Abaikan file log dan lainnya
/logs
*.log
npm-debug.log*
/node_modules
*.rest

.env

.DS_Store
Thumbs.db

/dist
/build

.vscode/
.idea/

/coverage/

.db/

*.swp
*.swo
/package-lock.json